.App {
  text-align: center;
  margin: 0px;
}

.score-container {
  margin-bottom: 20px;
}

.score-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.score-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.first-row {
  background-color: #f2f2f2;
  font-weight: bold;
}

.random-score-container {
  text-align: center;
  margin-top: 40px;
}

h2 {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.random-score-container > div {
  margin-bottom: 10px;
}

.score-table tbody tr:nth-child(-n+3) {
  background-color: #BF7700;
}
.score-table tbody tr:nth-child(-n+2) {
  background-color: silver;
}
.score-table tbody tr:nth-child(-n+1) {
  background-color: #fff200;
}
.navbar {
  background-color: #fff;
  color: #333;
  padding: 10px 40px 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: -10px;
}

.navbar-brand {
  font-size: 16px;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.navbar-item {
  margin-right: 10px;
  cursor: pointer;
}

.score-heading {
  text-align: center;
}

.score-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.first-row {
  text-align: left;
}

.score-difference {
  text-align: left;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
}

.score-container {
  padding: 0 100px 0 100px;
}











